{% extends 'base.html' %}

{% block title %}laurel alyse mossor{% endblock %}

{% block content %}

<div class="container">
    <div class="row boxShadow mx-2 my-4">
        <div class="col-6" id="about-me">
            hello
        </div>
        <div class="col-6" id="self-photo">
            <div class="text-center">
            <img src="static/images/1PXL_20210131_211641771.PORTRAIT1.jpg" class="img-fluid rounded" style="max-width: 70%; height:auto;">
            </div>
        </div>
    </div>

</div>


{% endblock %}